%p
  = text_field :title, :label => 'Title'   
%p
  = text_field :catalog_index, :label => 'Catalog Index'   
%p
  = text_area :info, :label => 'Info'                                         
%p
  = file_field :image, :label => "Album Artwork"